# Dependencies
node_modules/
package-lock.json

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Environment
.env
.env.local

# AWS
*.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Archivos grandes (NO SUBIR)
*.zip
*.msi
*.pkg
dist/