# Dependencies
node_modules/

# Playwright
playwright-report/
test-results/
playwright/.cache/

# Environment
.env
.env.local

# AWS
*.pem

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build
dist/

# Large files
*.zip
*.msi
*.pkg